# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.db
backend/nhamay.db

# Frontend Node & Vite
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE & System
.DS_Store
.vscode/
.idea/
